{{- if eq .Values.global.environment "gcp" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-chat-config
data:
  # Chat Service Configurations
  SPRING_REDIS_HOST: "{{ .Values.redis.host }}"
  SPRING_REDIS_PORT: "{{ .Values.redis.port }}"
  RAW_TOPIC_MESSAGE: "{{ .Values.redis.topic }}"
  # You will need to update the endpoints for multi-cloud in task5
  # You can list multiple endpoints by connecting them with a comma
  # e.g. 'endpoint1,endpoint2'
  LIST_OF_PROFILE_ENDPOINTS: "{{ .Values.chat.profileEndpoints }}"
  # MySQL connection info (host = mysql-chat service name)
  MYSQL_DB_HOST: {{ .Values.chat.mysql.host | quote }}
  MYSQL_DB_PORT: {{ .Values.chat.mysql.port | quote }}
{{- end }}
